body {
	background-color: #000000;
}

h1, h2, h3, h4, h5, h6, label, p, li {
	color: #FFFFFF;
}

#basic-menu {
	margin-left: 100px;
	margin-top: 70px;
	position: absolute;
}

#math-value-listener {
	display: none;
}

#mathinput {
	margin-left: 750px;
	margin-top: 150px;
	position: absolute;
}